/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  /* Sidebar styles */
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  .sidebar nav ul li a:hover {
    color: #ffd700;
  }
  
  /* Main content styles */
  .main-content {
    margin-left: 250px;
    padding: 20px;
  }
  
  .section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-logo img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image round */
  }
  