body {
    background-color: gray /* Set the background color to gray */
}

/* Styles for the Forgot Password form */
.forgot-password-form {
    max-width: 400px;
    height: 250px;
    margin: 150px auto ; 
    padding: 20px;
    border: 1px solid #0c0c0c;
    border-radius: 15px;
    background-color: white;
}

.forgot-password-form h2 {
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    width: 90%;
    /* border: 1px solid #0c0c0c; */
    background-color: white;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #a39e9e;
    border-radius: 5px;
}

.btn-primary {
    display: block;
    width: 96%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3c3838;
    color: #e8e1e1;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.btn-primary:hover {
    background-color: #33be2b;
}

.btn-reset:hover {
    background-color: #4dd029; 
}
